.center{
    margin: 0 auto;
}
.Navigationcss{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.1s ease-in;
    text-decoration:none;
}
.Navigationcss:hover{
    text-shadow: #ffffff 2px 1px 1px;
}