.center{
    margin: 0 auto;
}
.Navigationcss{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.1s ease-in;
    text-decoration:none;
}
@media only screen and (max-width: 625px){
    .Navigationcss{
        background-color: #000000;
        border-width: 20rem;
        border-radius: 5rem;
        padding: 0.75rem 0.75rem 0.75rem;
    }
    }
.Navigationcss:hover{
    text-shadow: #ffffff 2px 1px 1px;
}