.inkstainmiddle {
    background-image: url("./assets/inkstainfilm.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sectionheader {
    padding-top: 1%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    font-size: 4rem;
    color: #ffffff;
}

.sectionsubheader {
    padding-top: 0;
    text-align: center;
    left: 8rem;
    position: inherit;
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 5%;
}

.standing_room_only_image {
 width: 90%;
 height: auto;
 margin: auto;
 box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 3rem;
}

.a_twisted_fate {
    width: 90%;
    height: auto;
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.death_romantasized {
    width: 90%;
    height: auto;
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.Poingnant_CSS {
    width: 90%;
    height: auto;
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.wick_CSS {
    width: 90%;
    height: auto;
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.contain {
    position: relative;
  }
  .overlay {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
  }
  .contain:hover .overlay {
    opacity: 0.9;
    background-color: #000000;

  }
  .text {
    color:#ffffff;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
  }