/*___________________________________________
SOURCE CODE ASSET OF SAMUEL ROBENS-PARADISE © 2018-2019
DISTRIBUTION OF CODE WITHOUT WRITTEN CONSENT OF
SAMUEL ROBENS-PARADISE IS PROHIBITED UNLESS
ACCESSED THROUGH PUBLIC DOIMAIN SUCH AS GITHUB
OR ANY OTHER OPEN SOURCE PLATFORM ON WHICH ASSET
WAS PUBLISHED WITH AUTHOR CONSENT
________________________________________________
*/

.footerbackground {
    background-color: #000000;
    height: 8rem;
}

@media only screen and (max-width: 900px) {
    .footerbackground {
        height: 8rem;
    }
}

.sociallink {
    height: 6rem;
    width: auto;
    text-align: center;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sociallink:hover {
    filter: drop-shadow( 0rem 0.5rem 0.5rem blue);
}

@media only screen and (max-width: 900px) {
    .sociallink {
        height: 4rem;
        padding-top: 2rem;
    }
}