.inkstain{
background-image: url("./inkstain.svg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
position: relative;
}

.ebname{
    padding-top: 10%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
}
.ebtitle{
    padding-top: 0%;
    text-align: center;
    position: relative;
 }  
.explore_Contributions_btn {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 48px;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 80%;
    height: 68px;
    z-index: 75;
    color: #ffffff;
    text-decoration: #ffffff;
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
    
  }
  .explore_Contributions_btn:hover{
      background-color: darkgrey;
  }
  .seperationbar {
    border-width: 0.5px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    height: 20px;
    border-radius: 10px;
  }
  
  .EmilyBandelImg{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 816px;
        height: 1224px;
        z-index: 1;
      
  }

  