/*___________________________________________
CODE ASSET OF SAMUEL ROBENS-PARADISE © 2018
DISTRIBUTION OF CODE WITHOUT WRITTEN CONSENT OF
SAMUEL ROBENS-PARADISE IS PROHIBITED UNLESS
ACCESSED THROUGH PUBLIC DOIMAIN SUCH AS GITHUB
OR ANY OTHER OPEN SOURCE PLATFORM ON WHICH ASSET
WAS PUBLISHED WITH AUTHOR CONSENT
*/
.inkstain {
    background-image: url("./assets/inkstain.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

.ebname {
    padding-top: 10%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    font-size: 4rem;
}

.ebtitle {
    padding-top: 0;
    text-align: center;
    left: 8rem;
    position: inherit;
    font-size: 2rem;
}
.vancouver{
    padding-top: 0;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-size: 2rem;
    bottom: 0;
}
.explore_Contributions_btn {
    border-width: 0.125rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3rem;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 40%;
    width: 80%;
    height: 4.25rem;
    z-index: 999;
    color: #ffffff;
    text-decoration: #ffffff;
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;

}

.explore_Contributions_btn:hover {
    background-color: darkgrey;
}

.seperationbar {
    border-width: 0.03125rem;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 67.15px 11.85px rgba(0, 0, 0, 0.6);
    height: 1.25rem;
}

.EmilyBandelImg {
    position: inherit;
    z-index: 1;
    width: 500px;
    height: auto;
    margin-bottom: 0;
    padding: 0;

}

.taverseCarouselbtn {
    background-image: url('./assets/nextArrowBefore.svg');
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    z-index: 999;

    position: absolute;
    bottom: 30px;
    right: 100px;

}

.taverseCarouselbtn:hover {
    background-image: url('./assets/nextArrowBefore.svg');
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    z-index: 999;
    filter: drop-shadow(10px 10px 10px);

}

#container {
    position: relative;
}

/*.column1{
 background-color: red;
}
.column2{
    background-color:blue;
   }
  */ 