/*___________________________________________
SOURCE CODE ASSET OF SAMUEL ROBENS-PARADISE © 2018
DISTRIBUTION OF CODE WITHOUT WRITTEN CONSENT OF
SAMUEL ROBENS-PARADISE IS PROHIBITED UNLESS
ACCESSED THROUGH PUBLIC DOIMAIN SUCH AS GITHUB
OR ANY OTHER OPEN SOURCE PLATFORM ON WHICH ASSET
WAS PUBLISHED WITH AUTHOR CONSENT
_____________________________________________
*/

#centerspinner {
    text-align: center;
    right: 50%;
    left: 50%;
}

.placespinner {
    position: inherit;
    z-index: 1;
    width: 30rem;
    height: 100%;
    margin-bottom: 0;
    padding: 20rem;
    align-content: center;

}

@media only screen and (max-width: 1260px) {
    .placespinner {
        top: 5rem;
        padding-right: 2rem;
        width: 25rem;
        height: 100%;
        padding: 15rem;
        align-content: center;
    }
}

@media only screen and (max-width: 900px) {
    .placespinner {
        padding-right: 2rem;
        width: 15rem;
        height: auto;
        padding-top: 6rem;
        padding: 10rem;
        align-content: center;
    }
}

@media only screen and (max-width: 620px) {
    .placespinner {
        margin-right: 2rem;
        width: 15rem;
        height: auto;
        align-self: center;
        padding: 10rem;
        align-content: center;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

.inkstain {
    background-image: url("./assets/inkstain.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ebname {
    padding-top: 10%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    font-size: 4rem;
}

@media screen and (max-width: 900px) {
    .ebname {
        font-size: 3rem;
    }
}

.ebtitle {
    padding-top: 0;
    text-align: center;
    left: 8rem;
    position: inherit;
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .ebtitle {
        font-size: 1.5rem;
        position: relative;
        left: 6rem;
    }
}

@media screen and (max-width: 780px) {
    .ebtitle {
        font-size: 1.5rem;
        position: relative;
        left: 4rem;
    }
}

.vancouver {
    padding-top: 0;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-size: 2rem;
    bottom: 0;
}

@media screen and (max-width: 780px) {
    .vancouver {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .vancouver {
        font-size: 1.25rem;
    }
}

.explore_Contributions_btn {
    cursor: pointer;
    border-width: 0.125rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3rem;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 40%;
    width: 80%;
    height: 4.25rem;
    z-index: 999;
    color: #ffffff;
    text-decoration: #ffffff;
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .explore_Contributions_btn {
        top: 10rem;
        border-width: 0.100rem;
        height: 3.5rem;
        font-size: 0.5rem;
    }
}

.explore_Contributions_btn:hover {
    background-color: darkgrey;
}

.seperationbar {
    border-width: 0.03125rem;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0px 6px 67.15px 0 rgba(0, 0, 0, 0.6);*/
    height: 1.25rem;
}
@media only screen and (max-width: 620px) {
    .seperationbar {
        height: 1rem;
    }
}

.EmilyBandelImg {
    cursor: pointer;
    position: inherit;
    z-index: 1;
    width: 30rem;
    height: auto;
    margin-bottom: 0;
    padding: 0;
}

@media only screen and (min-width: 1261px) {
    .EmilyBandelImg {
        cursor: pointer;
        position: relative;
        z-index: 1;
        width: 30rem;
        height: auto;
        margin-bottom: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1260px) {
    .EmilyBandelImg {
        cursor: pointer;
        top: 5rem;
        padding-right: 2rem;
        width: 25rem;
        height: auto;
    }
}

@media only screen and (max-width: 900px) {
    .EmilyBandelImg {
        padding-right: 2rem;
        width: 15rem;
        height: auto;
        padding-top: 6rem;
    }
}

@media only screen and (max-width: 620px) {
    .EmilyBandelImg {
        margin-right: 2rem;
        width: 15rem;
        height: auto;
        align-self: center;
    }
}

.taverseCarouselbtn {
    background-image: url('./assets/nextArrowBefore.svg');
    cursor: pointer;
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    z-index: 999;

    position: absolute;
    bottom: 30px;
    right: 100px;
    
}

.taverseCarouselbtn:hover {
    background-image: url('./assets/nextArrowBefore.svg');
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    z-index: 999;
    filter: drop-shadow(10px 10px 10px);

}

@media screen and (max-width: 900px) {
    .taverseCarouselbtn {
        height: 65px;
        width: 65px;
    }

    .taverseCarouselbtn:hover {
        height: 65px;
        width: 65px;
        filter: drop-shadow(5px 5px 5px #ffffff);
    }
}

@media screen and (max-width: 600px) {
    .taverseCarouselbtn {
        height: 50px;
        width: 50px;
    }

    .taverseCarouselbtn:hover {
        height: 50px;
        width: 50px;
        filter: drop-shadow(3px 3px 3px #ffffff);
    }
}

#container {
    position: relative;
}


/*
   * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
  */