.inkstainbottom{
    background-image: url("./assets/inkstainprofile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionheader{
    padding-top: 3%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    font-size: 4rem;
    color: #ffffff;
}
@media only screen and (max-width: 1370px) {
    .sectionheader{
        font-size: 3rem;
        background-color: darkgray;
        border-radius: 20rem;
        padding: 0.30rem 0.30rem 0.30rem;

    }
}
.sectionsubheader{
    padding-top: 0;
    text-align: center;
    left: 8rem;
    position: inherit;
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 3%;
}
.vimeovideoformat{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.vimeovideo_outer{
padding: 56.25% 0 0 0;
position: relative;
}
.emilybandelbiopic{
    padding-top: 3%;
    color:#ffffff;
    font-size: 1rem;
}